/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 0.2em;
  width: 100%;
  font-family: $global-font-family;
  font-size:  0.9em;
  border-collapse: collapse;
  border: 0px solid $light-gray;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: #fff;
  border-bottom: 0px solid $light-gray;
  font-size:  1.1em;
  color: $lighter-gray;
}

th {
  padding: 0.1em;
  font-weight: bold;
  text-align: left;
  border-right: 0px solid #fff ;
}

td {
  padding: 0.1em;
  border-bottom: 0px solid $light-gray;
  border-right: 0px solid $light-gray;
}

tr, td, th {
  vertical-align: middle;
}
